:root {
  --bg-col-white: #F5F5F5;
  --bg-col-light: #F3EED9;
  --bg-col-med: #824936;
  --bg-col-dark: #222C2A;

  --max-width-px: 1128px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body, .hero__heading, .panel__heading {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.panel {
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin: 0 auto;
  max-width: var(--max-width-px);
  flex-grow: 1;
}

p {
  font-family: "Roboto";
  font-size: 1.3125rem;
  font-weight: 300;
}

/* Panel 1: Hero */
.hero {
  background-color: var(--bg-col-light);
  text-align: center;
  min-height: 660px;
  height: 100vh;
}

.hero__container {
  width: 60%;
  min-width: 350px;
  flex-grow: 0;
}

.hero__heading--thin {
  font-family: "Roboto";
  color: var(--bg-col-dark);
  font-size: 1.125rem;
  font-weight: 300;
  letter-spacing: 0.75ex;
  text-transform: uppercase;
}

.hero__heading--bold {
  color: var(--bg-col-med);
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 3.75rem;
}

.panel__heading {
  font-family: "Playfair Display";
  font-size: 2.25rem;
  margin-bottom: 2rem;
}

.panel--white {
  background-color: var(--bg-col-white);
}

.panel__heading--med {
  color: var(--bg-col-med);
  text-align: center;
}

.panel--white .text-container {
  display: flex;
  justify-content: space-between;
}

.panel__text--dark {
  color: var(--bg-col-dark);
}

.panel--dark {
  background-color: var(--bg-col-dark);
}

.panel--dark .container {
  display: flex;
  justify-content: space-between;
}

.panel__heading--light {
  color: var(--bg-col-light)
}

.panel--med {
  background-color: var(--bg-col-med);
}

.panel--med .container {
  display: flex;
  justify-content: space-between;
}

.panel__text--light {
  color: var(--bg-col-light);
}

.panel--white .text-container,
.panel--dark .container,
.panel--med .container {
  gap: 2rem;
}

.img-container {
  width: 100%;
}

.img-container img {
  width: 100%;
  min-width: 100px;
}


.footer {
  justify-content: space-between;
  min-height: 0;
  background-color: var(--bg-col-dark);
  flex-grow: 0;
}

.footer__text {
  font-size: 1rem;
}

.footer .text-container {
  display: flex;
  justify-content: space-between;
}

/* 
  Cannot use: var(--max-width-px) inside condition.
  Not entirely sure what the best work-around is here.
*/
@media (max-width: calc(1128px + 2rem)) {
  .container {
    margin: 0 2rem;
  }
}

@media (max-width: 800px) {
  .text-container,
  .panel--dark .container,
  .panel--med .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .container {
    margin: 1.25rem;
  }

  .img-container {
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 80%;
    }
  }
}